<header>
  <h1>{{exercise?.name}}</h1>
  <div class="settings">
    <label>
      <span>Ascending</span>
      <input type="checkbox" [(ngModel)]="isAscending">
    </label>
    <label>
      <span>Continuous</span>
      <input type="checkbox" [(ngModel)]="isContinuous">
    </label>
    <label>
      <span>Preview</span>
      <input type="checkbox" [(ngModel)]="playPreview">
    </label>
  </div>
</header>

<section class="content">
  <div class="note">Note: <span>{{exerciseNote}}</span></div>

  <div class="bpm">
    <input type="range" min="50" max="600" [(ngModel)]="bpm" step="10">
    <span class="value">{{bpm}} bpm</span>
  </div>

  <div class="controls">
    <button (click)="play()">Play</button>
    <button (click)="next()">Next</button>


    <a (click)="moveUp()">Up</a>
    <a (click)="moveDown()">Down</a>
    <a (click)="reset()">Reset</a>
  </div>

  <a class="remove" (click)="remove()">Remove Exercise</a>
</section>

