:host {
  height: 100%;
}



.note {
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  span {
    display: inline-block;
    font-weight: 400;
    width: 3rem;
  }
}

.bpm {
  width: 100%;
  max-width: 30rem;
  margin: 1.5rem auto;
  height: 3rem;

  input {
    display: block;
    width: 100%;
    height: 1.5rem;
  }
  span {
    display: block;
    height: 3rem;
    line-height: 3rem;
    width: 6rem;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
  }
}

.controls {
  margin-top: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 100;

  button, a {
    position: relative;
    color: #666;
    display: block;
    text-align: center;
    border: 1px solid silver;
    background: #fafafa;
    height: 6rem;
    line-height: 6rem;
    padding: 0;
    vertical-align: middle;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    outline: none;
    &:hover {
      color: black;
      border-color: #aaa;
      background: #f8f8f8;
    }
    &:active {
      top: 1px;
    }
  }

  button {
    width: calc(50% - 0.75rem)
  }
  a {
    width: calc(33.33333% - 1rem);
  }
}

.remove {
  display: block;
  font-weight: 600;
  color: red;
  margin: 3rem 0;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}