<form action="javascript:undefined" (submit)="createExercise()">
  <h1>Create new exercise</h1>

  <input placeholder="Exercise name" type="text" [(ngModel)]="name">
  <input placeholder="Eg: 1 3 5 3 1" type="text" [(ngModel)]="notes">

  <button type="submit">Create</button>
</form>
