<nav>

  <ul>
    <li *ngFor="let exercise of exercises"><a [routerLink]="['Exercise', {'exerciseName': exercise.urlName}]">{{exercise.name}}
      <span class="image" [innerHtml]="domSanitizationService.bypassSecurityTrustHtml(exercise.getImage().outerHtml)"></span>
    </a></li>
    <li class="first-project-link"><a [routerLink]="['NewExercise']">+ New Exercise</a></li>
    <li><a title="This link contains all your exercises. You can bookmark it or send it to friends to share the exercises." [href]="bookmarkLink">Bookmark Link</a></li>
  </ul>

</nav>


<main>
  <router-outlet></router-outlet>
</main>