:host {
  display: flex;
  height: 100%;
}

nav {
  width: 15rem;
  border-right: 1px solid #eee;
  background: #f8f8f8;

  li:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
  }
  li.first-project-link {
    margin-top: 3rem;
    a {
      border-top: 1px solid #ddd;
    }
  }
  a {
    display: block;
    position: relative;
    line-height: 3rem;
    height: 3rem;
    border-bottom: 1px solid #eee;
    padding: 0 6rem 0 1.5rem;
    &:hover {
      background: white;
    }
    &.router-link-active {
      background: white;
      font-weight: bold;
    }
    span.image {
      position: absolute;
      top: 0.1rem;
      right: 0.6rem;
    }
  }
}

main {
  flex: 1;
}