@import "includes/reset";

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, input, button {
  font-family: Nunito, arial, tahoma, sans-serif;
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  display: block;
  height: 100%;
}

[hidden] {
  display: none !important;
}

main-app .loading-screen {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 100;
}

a, a:hover, a:focus, a:visited, a:active {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

main {
  header {
    display: flex;
    height: 6rem;
    padding: 1.5rem 3rem;
    border-bottom: 1px solid #eee;
    h1 {
      flex: 1;
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 100;
    }
    .settings {
      display: flex;
      label {
        margin-left: 1.5rem;
      }
    }
  }
  section.content {
    padding: 3rem;
  }

}


@import "includes/form_elements";