@import "settings";

$border-radius: 3px;

label {
  display: flex;
  border: 1px solid $input-border-color;
  height: 3rem;
  border-radius: $border-radius 0 0 $border-radius;
  cursor: pointer;

  span {
    border-right: 1px solid $input-border-color;
    background: #fafafa;
    padding: 0 1.5rem;
    height: 100%;
    line-height: 3rem;
    vertical-align: middle;
  }
  input {
    border: none;
    &[type=checkbox] {
      margin: 0 1.2rem;
    }
  }
}

input, button {
  height: 3rem;
  line-height: 1.5rem;
  padding: 0.75rem;
  border-radius: $border-radius;
}

input {
  border: 1px solid $input-border-color;
  &:focus {
    background: #f8f8f8;
    outline: none;
  }
}